* {
  margin: 0;
  padding: 0;
}
body {
  margin: 10px;
  padding: 10px;
  background-color: rgb(235, 183, 118, 100%);
}
h1 {
  text-align: center;
  color: #ffffff;
  text-shadow: whitesmoke;
}

#container {
  position: relative;
  width: 600px;
  height: 600px;
  margin: auto;
}

#drumImage {
  width: 100%;
  height: auto;
  display: block;
}

.drum-button {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  transform: translate(-50%, -50%); /* Centers the button */
}

@media (max-width: 768px) and (min-width: 380px) {
  #container {
    width: 90%;
    height: auto;
  }

  .drum-button {
    width: 30px;
    height: 30px;
    font-size: 12px;
  }
}
